body{
	border-bottom: yellow;
	background-attachment:
}
img{
	width: 100%;
	border-radius: 50px;
}
.header {
	background-image: url(../img/progwall.jpg);
	height: 375px;
	background-size: cover;
}
.project{
	border: solid 8px rgb(204, 229, 80);
	margin: 5px 15px;/*1st number is top and bottom, 2nd number is left and right */
	border-radius: 10px;
}
.project p{
	display: 
	width: 10%;
}
.project img{
	display: inline-block;
	width: 25%;
	height: 125px;
}
.border {
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #47525E;
  border-radius: 5px;
  width: 559.24px;
  height: 66.11px;
}
.select{
	font: 30px;
	color: rgb(244, 121, 34);
}